.group {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2.75%;
}

.group__header {
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 0 2.5%;
}

.group__header > div {
    display: flex;
    align-items: center;
}

.group__header > div:nth-of-type(1) {
    gap: 15%;
}

.group__header > div:nth-of-type(2) {
    gap: 20%;
}

.group__icons {
    font-size: large;
}

.group__image {
    width: 2.125vh;
    border-radius: 50%;
}

.group__title {
    white-space: nowrap;
}

.group__count {
    color: gray;
}

.group__tickets {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
