.ticket {
    border: 1px solid lightgray;
    background: #fefffe;
    box-shadow: 0 0 5px 1px lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px 17.5px;
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.ticket__id-and-user {
    display: flex;
    justify-content: space-between;
}

.ticket__id {
    color: gray;
}

.ticket__user {
    position: relative;
}

.ticket__image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* .ticket__availability {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: #ffc107;
    border-radius: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
} */

.ticket__status-and-title {
    display: flex;
    gap: 7.5px;
}

.ticket__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ticket__priority-and-tag {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.ticket__priority-and-tag > div {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}

.ticket__tag {
    font-size: smaller;
    color: gray;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.ticket__icon {
    color: silver;
    font-size: x-small;
}
