.ticket {
    border: 1px solid lightgray;
    background: #fefffe;
    box-shadow: 0 0 5px 1px lightgray;
    border-radius: 5px;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max(10vh, 92px);
}

.ticket__id-and-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket__id {
    color: gray;
    white-space: nowrap;
}

.ticket__user {
    position: relative;
}

.ticket__image {
    width: max(2.125vh, 19.13px);
    border-radius: 50%;
}

.ticket__availability {
    position: absolute;
    bottom: 1px;
    right: -1.5px;
    width: max(0.875vh, 7.88px);
    height: max(0.875vh, 7.88px);
    border-radius: 50%;
    box-shadow: 0 0 5px 1px lightgray;
}

.ticket__available {
    background: #3fc569;
}

.ticket__unavailable {
    background: #ff6c37;
}

.ticket__status-and-title {
    display: flex;
    gap: 1.75%;
}

.ticket__icon {
    font-size: larger;
}

.ticket__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ticket__priority-and-tag {
    display: flex;
    gap: 2.25%;
}

.ticket__priority-and-tag > div {
    border: 1px solid lightgray;
    padding: 1.25%;
    border-radius: 5px;
    align-items: center;
}

.ticket__tag {
    color: gray;
    display: flex;
    gap: 3%;
    white-space: nowrap;
    font-size: smaller;
}

.ticket__tag-icon {
    color: silver;
}
