.menu {
    position: absolute;
    left: max(2.5%, 36px);
    top: max(5.25%, 47.25px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.875vh;
    border: 1px solid lightgray;
    background: #f8f8fa;
    box-shadow: 0 0 5px 1px lightgray;
    width: max(14.375%, 237.8px);
    padding: 0.875% 1%;
}

.menu div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu label {
    color: gray;
}

.menu select {
    font-weight: inherit;
    border-radius: 5px;
    background: #fefffe;
    border: 1px solid lightgray;
    transition: background 0.3s ease;
    width: max(45%, 93.15px);
    padding: 1.25% 1.5%;
}

.menu select:hover {
    cursor: pointer;
    background: #e8e8e8;
}
