.menu {
    position: absolute;
    left: 2.5%;
    top: 5.125%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.875vh;
    border: 1px solid lightgray;
    background: #f8f8fa;
    box-shadow: 0 0 5px 1px lightgray;
    width: 14.375%;
    padding: 0.875% 1%;
}

.menu div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu label {
    color: gray;
}

.menu select {
    font-weight: inherit;
    border-radius: 5px;
    background: #fefffe;
    border: 1px solid lightgray;
    transition: background 0.3s ease;
    width: 45%;
    padding: 1.25% 1.5%;
}

.menu select:hover {
    cursor: pointer;
    background: #e8e8e8;
}
